<div class="mainContainer">
  <div class="section1">
    <h1>Trending</h1>
    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's standard dummy
    text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a type specimen book. It has survived not only five
    <p></p>
    <app-card> </app-card>
    <p></p>
    centuries, but also the leap into electronic typesetting, remaining
    essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with
    desktop publishing software like Aldus PageMaker including versions of Lorem
    Ipsum
    <app-card2> </app-card2>
    <p></p>
    essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with
  </div>
  <div class="section2">
    <h1>Top Rated</h1>
    <p></p>
    <app-menu-center2> </app-menu-center2>
    <p></p>
    Where does it come from? Contrary to popular belief, Lorem Ipsum is not
    simply random text. It has roots in a piece of classical Latin literature
    from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
    professor at Hampden-Sydney College in Virginia, looked up one of the more
    <p></p>
    <app-card3> </app-card3>
    <p></p>
    obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
    through the cites of the word in classical literature, discovered the
    undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
    "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
    written in 45 BC. This book is a treatise on the theory of ethics, very
    <p></p>
    <app-card5> </app-card5>
    <p></p>
    popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
    dolor sit amet..", comes from a line in section 1.10.32.
  </div>
  <div class="section3">
    <h1>Tips of the day</h1>
    <p></p>
    Why do we use it? It is a long established fact that a reader will be
    distracted by the readable content of a page when looking at its layout. The
    point of using Lorem Ipsum is that it has a more-or-less normal distribution
    <p></p>
    <app-menu-center> </app-menu-center>
    <p></p>
    of letters, as opposed to using 'Content here, content here', making it look
    like readable English. Many desktop publishing packages and web page editors
    now use Lorem Ipsum as their default model text, and a search for 'lorem
    ipsum' will uncover many web sites still in their infancy. Various versions
    have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like)
    <p></p>
    <app-card4> </app-card4>
    <p></p>
    ipsum' will uncover many web sites still in their infancy. Various versions
    have evolved over the years, sometimes by accident,
    <p></p>
    <app-menu-center3> </app-menu-center3>
    <p></p>
    obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
  </div>
</div>
