<!-- <div *ngIf="viewMode">
  <div *ngIf="currentCarteira">
    <h4>Carteira</h4>
    <div>
      <label><strong>Código Carteira:</strong></label>
      {{ currentCarteira.codCarteira }}
    </div>
    <div>
      <label><strong>Designation:</strong></label>
      {{ currentCarteira.designation }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/carteira/{{ currentCarteira.codCarteira}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentCarteira">
    <br />
    <p>Please click on a Carteira...</p>
  </div>
</div>
<div *ngIf="currentCarteira" class="edit-form">
  <h4>Carteira</h4>
  <form>
    <div class="form-group">
      <label for="codCarteira">Código Carteira</label>
      <input
        type="text"
        class="form-control"
        id="codCarteira"
        [(ngModel)]="currentCarteira.codCarteira"
        name="codCarteira"
      />
    </div>
    <div class="form-group">
      <label for="designation">Designation</label>
      <input
        type="text"
        class="form-control"
        id="designation"
        [(ngModel)]="currentCarteira.designation"
        name="designation"
      />
    </div>
  </form>

  <button (click)="updateCarteira()">class="btn btn-success" ></button>
  <button class="badge badge-danger mr-2" (click)="deleteCarteira()">
    Delete
  </button>
  <button
    type="submit"
    class="badge badge-success mb-2"
    (click)="updateCarteira()"
  >
    Update
  </button>
  <p>{{ message }}</p>
</div>
<div *ngIf="!currentCarteira.codCarteira">
  <br />
  <p>Cannot access this Carteira...</p>
</div> -->
