<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Warren Buffet Goes For Carteira 1?</mat-card-title>
    <mat-card-subtitle>Finance</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../assets/warrenbuffetinvestimento020520223722-200520224944_200520224453.webp"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Nullam justo ipsum, pharetra at tempus sit amet, pharetra at mauris. Donec
      sed tempus nunc. Nunc scelerisque nulla nunc, eu auctor magna vestibulum
      ut. Donec tristique interdum hendrerit. Duis a fringilla justo. Vestibulum
      nunc neque, dictum sit amet sem eget, consequat bibendum lacus.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a
      button
      mat-button
      href="https://www.barrons.com/articles/warren-buffett-berkshire-hathaway-stock-earnings-51659128802"
      >OPEN</a
    >
    <a button mat-button href="https://twitter.com/home">SHARE</a>
  </mat-card-actions>
</mat-card>
