<!-- <div *ngIf="viewMode">
  <div *ngIf="currentTitulo">
    <h4>Titulo</h4>
    <div>
      <label><strong>Código Titulo:</strong></label>
      {{ currentTitulo.codTitulo }}
    </div>
    <div>
      <label><strong>Designation:</strong></label>
      {{ currentTitulo.designation }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/titulo/{{ currentTitulo.codTitulo}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentTitulo">
    <br />
    <p>Please click on a Titulo...</p>
  </div>
</div>
<div *ngIf="currentTitulo" class="edit-form">
  <h4>Titulo</h4>
  <form>
    <div class="form-group">
      <label for="codTitulo">Código Titulo</label>
      <input
        type="text"
        class="form-control"
        id="codTitulo"
        [(ngModel)]="currentTitulo.codTitulo"
        name="codTitulo"
      />
    </div>
    <div class="form-group">
      <label for="designation">Designation</label>
      <input
        type="text"
        class="form-control"
        id="designation"
        [(ngModel)]="currentTitulo.designation"
        name="designation"
      />
    </div>
  </form>

  <button (click)="updateTitulo()">class="btn btn-success" ></button>
  <button class="badge badge-danger mr-2" (click)="deleteTitulo()">
    Delete
  </button>
  <button
    type="submit"
    class="badge badge-success mb-2"
    (click)="updateTitulo()"
  >
    Update
  </button>
  <p>{{ message }}</p>
</div>
<div *ngIf="!currentTitulo.codTitulo">
  <br />
  <p>Cannot access this Titulo...</p>
</div> -->
