<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>How To Spend On Holidays.</mat-card-title>
    <mat-card-subtitle>Lifestyle</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../assets/Wallet-feature-Bondora.png"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Sed fermentum ipsum pretium velit vestibulum posuere. Mauris porttitor
      condimentum pellentesque. Vestibulum dignissim orci et est eleifend
      tempor. Cras in risus nulla. Morbi tincidunt justo in consequat volutpat.
      Nullam porttitor tincidunt enim vitae imperdiet. Vestibulum fermentum
      tempus dictum. Fusce ut erat ullamcorper, sodales enim nec, sodales lacus.
      Vivamus arcu sapien, sollicitudin facilisis commodo ac, faucibus vitae
      est.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a
      button
      mat-button
      href="https://www.cnbc.com/select/our-best-tips-spending-holiday-shopping/"
      >OPEN</a
    >
    <a button mat-button href="https://twitter.com/home">SHARE</a>
  </mat-card-actions>
</mat-card>
