<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="codCarteira">Código Carteira</label>
        <input
          type="text"
          class="form-control"
          id="codCarteira"
          required
          [(ngModel)]="carteira.codCarteira"
          name="codCarteira"
        />
      </div>
      <div class="form-group">
        <label for="designation">Designation</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="carteira.designation"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="codTitulo">Código Titulo</label>
        <input
          type="text"
          class="form-control"
          id="codTitulo"
          required
          [(ngModel)]="carteira.codTitulo"
          name="codTitulo"
        />
      </div>
      <div class="form-group">
        <label for="codCotacao">Código Cotacao</label>
        <input
          type="text"
          class="form-control"
          id="codCotacao"
          required
          [(ngModel)]="carteira.codCotacao"
          name="codCotacao"
        />
      </div>
      <button
        (click)="
          saveCarteira({
            codCarteira: carteira.codCarteira,
            designation: carteira.designation,
            codTitulo: carteira.codTitulo,
            codCotacao: carteira.codCotacao
          })
        "
        class="btn btn-success"
      >
        Submit
      </button>
    </div>
    <div *ngIf="submitted">
      <h4>Carteira was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCarteira()">Add</button>
    </div>
  </div>
</div>
