<mat-card class="example-card">
  <mat-card-subtitle>In Progress</mat-card-subtitle>
  <mat-card-title>Carteira 3 Rising</mat-card-title>
  <mat-card-content>
    <p>
      Aliquam vestibulum gravida est, in ultricies erat eleifend eu. Integer
      pellentesque, arcu nec dapibus dignissim, justo sapien accumsan neque, non
      ultricies eros nisi vel arcu. Donec molestie auctor justo.
    </p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <a button mat-button href="https://www.investopedia.com/top-stocks-4581225"
      >OPEN</a
    >
    <a button mat-button href="https://www.facebook.com/">SHARE</a>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
