<mat-card class="example-card">
  <mat-card-subtitle>In Progress</mat-card-subtitle>
  <mat-card-title>Russia is Announcing New Gas Prices</mat-card-title>
  <mat-card-content>
    <p>
      Phasellus vehicula dui ac est dapibus, at venenatis neque viverra. Nulla
      ultricies mollis ligula, eu iaculis ligula consectetur et. Morbi quis est
      dapibus, congue risus eu, pulvinar arcu. Mauris ac convallis neque, ut
      aliquam nisi.
    </p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <a button mat-button href="https://www.bbc.com/news/business-62318376"
      >OPEN</a
    >
    <a button mat-button href="https://www.facebook.com/">SHARE</a>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
