<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Soros Guide On How To Invest!</mat-card-title>
    <mat-card-subtitle>Tips</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../assets/56607748c2814463008b72d8.webp"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Etiam non commodo leo. Ut et dolor metus. Praesent tincidunt est sed dui
      efficitur mollis. Suspendisse eros nisi, aliquet at dictum non, molestie
      vitae mi. Curabitur porta tincidunt est facilisis fringilla. Nunc quis
      blandit lectus. Vivamus dignissim ligula at justo consectetur, maximus
      facilisis elit varius. Duis porta non orci at rhoncus.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a
      button
      mat-button
      href="https://www.investopedia.com/articles/financial-theory/09/how-soros-does-it.asp"
      >OPEN</a
    >
    <a button mat-button href="https://twitter.com/home">SHARE</a>
  </mat-card-actions>
</mat-card>
