<mat-card class="example-card">
  <mat-card-subtitle>In Progress</mat-card-subtitle>
  <mat-card-title>Top 10 Financial Tips</mat-card-title>
  <mat-card-content>
    <p>
      Donec cursus, turpis quis venenatis aliquet, orci nunc molestie metus, at
      tincidunt tellus mauris ut purus. Vestibulum pharetra erat quis orci
      facilisis egestas.
    </p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <a
      button
      mat-button
      href="https://www.bankoncube.com/post/top-simple-money-management-tips"
      >OPEN</a
    >
    <a button mat-button href="https://www.facebook.com/">SHARE</a>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
