<form>
  <p>cotacao-details works!</p>
  <div *ngIf="viewMode">
    <div *ngIf="currentCotacao">
      <h4>Cotacao</h4>
      <div>
        <label><strong>Código Cotacao:</strong></label>
        {{ currentCotacao.codCotacao }}
      </div>
      <div>
        <label><strong>Designation:</strong></label>
        {{ currentCotacao.designation }}
      </div>
      <a
        class="badge badge-warning"
        [routerLink]="'/cotacao/' + currentCotacao.codCotacao"
      >
        Edit
      </a>
    </div>
    <div *ngIf="!currentCotacao">
      <br />
      <p>Please click on a Cotacao...</p>
    </div>
  </div>
  <div *ngIf="currentCotacao" class="edit-form">
    <h4>Cotacao</h4>
    <form>
      <div class="form-group">
        <label for="codCotacao">Código Cotacao</label>
        <input
          type="text"
          class="form-control"
          id="codCotacao"
          [(ngModel)]="currentCotacao.codCotacao"
          name="codCotacao"
        />
      </div>
      <div class="form-group">
        <label for="designation">Designation</label>
        <input
          type="text"
          class="form-control"
          id="designation"
          [(ngModel)]="currentCotacao.designation"
          name="designation"
        />
      </div>
    </form>

    <button (click)="updateCotacao()" class="btn btn-success"></button>
    <button class="badge badge-danger mr-2" (click)="deleteCotacao()">
      Delete
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateCotacao()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentCotacao.codCotacao">
    <br />
    <p>Cannot access this Cotacao...</p>
  </div>
</form>
